.MMM-Liiga .table {
    border-spacing: 10px 0;
    border-collapse: separate;
    text-align: center;
}

.MMM-Liiga .icon {
    width: 25px;
    height: 25px;
}

.MMM-Liiga .no-color {
    filter: grayscale(100%);
}

.MMM-Liiga .row {
    vertical-align: middle;
}

.MMM-Liiga .live {
    font-size: 10px;
    line-height: 15px;
    display: block;
}
